*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
:before,
:after {
  --tw-content: "";
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: BasierSquare, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
}
body {
  margin: 0;
  line-height: inherit;

  a {
    color: inherit;
    text-decoration: inherit;
  }
  p {
    font-size: 18px;
    opacity: 1;
    transition: opacity 0.5s ease;
    margin: 0;
  }
  h2 {
    color: #1B1B6D;
    text-align: center;
    margin-right: 20px;
    font-size: 54px;
    font-weight: 500;
    line-height: 0.9;
    margin-bottom: 2rem;
  }
  img {
    display: block;
    vertical-align: middle;
  }
  section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  article {
    width: 100%;
    max-width: 1256px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}

.q-letter {
  background: url('images/Fourblue.png') no-repeat center;
  transform: rotate(180deg);
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: contain;
  vertical-align: middle;
  margin-right: -20px; /* Adjust to bring letters closer */
}

#navbar {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 20;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  justify-content: space-between;
  transition: background-color 0.4s ease;
}

#content-somos {
  flex-direction: column;
  gap: 0.5rem;
}

#video-somos {
  width: 70%;
  display: flex;
  position: relative;
  margin: auto;
}

#ofrecemos {
  background-color: rgb(246, 246, 246);
}

#content-ofrecemos {
  flex-direction: row;
  align-items: flex-start;
}

#text-ofrecemos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#toggle-state {
  display: flex;
  align-items: center;
  margin-left: auto; /* pushes this element to the far right */
  margin-right: 25px;
  font-size: 1rem;
  font-weight: 650;
}

#toggle-image {
  width: 60%;
  height: auto;
  transition: opacity 0.3s ease;
}

#toggle-text-button {
  margin-left: 20px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#content-trabaja {
  flex-direction: row;
  margin-top: 100px;
}

#hamburger-button {
  display: none;
  position: fixed;
  top: 0.75rem;
  right: 1rem;
  z-index: 20;
}

/* Turn the button into a white circle */
#hamburger-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40px;            /* you can adjust as needed */
  height: 40px;           /* same width and height makes a circle */
  gap: 6px;
  border: 1.4px solid black;
  border-radius: 100%;     /* circle */
  background-color: transparent;
  cursor: pointer;
}

/* The 3 bars of the hamburger icon */
#hamburger-button span {
  display: block;
  width: 20px;
  height: 1.4px;
  background: black;
}

/* Sidebar is off-canvas by default */
#sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background-color: transparent;
  transition: transform 0.5s ease, background-color 0.5s ease;
  transform: translateX(100%);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 24px;
  font-weight: 600;
}

/* When sidebar is opened, slide it in + change background color */
#sidebar.open {
  transform: translateX(0);
  background-color: rgba(255, 255, 255, 0.8); /* or solid white, etc. */
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-opacity {
  background-color: rgb(246, 246, 246);
}

@media (max-width: 1028px) {
  #navbar {
    display: none;
  }

  #hamburger-button {
    display: flex;
  }

  #video-somos {
    width: 100%;
  }

  #content-ofrecemos {
    flex-direction: column;
    gap: 1rem;
  }

  #content-ofrecemos img {
    width: 100%;
  }

  #toggle-text-button {
    margin-top: 10px;
    margin-left: 20px;
    width: 35px;
    height:35px;
  }

  #content-trabaja {
    flex-direction: column;
    margin-top: 40px;
  }

  body {
    h2 {
      font-size: 48px;
    }
    p {
      font-size: 16px;
    }
    section {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      padding-left: 0rem;
      padding-right: 0rem;
    }
    article {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

@media (min-width: 1029px) {
  #sidebar {
    display: none;
  }
}
